/*index-page*/
h2.h2-title{
  font-size: 34px;
  font-weight: 500;
  color: #1a1a23;
  position: relative;
  padding-bottom: 1rem;
  &--white{
    color: #ffffff;
  }
  &::before{
    position: absolute;
    content: '';
    width: 100px;
    height: 3px;
    background-color: #76c128;
    bottom: 0;

  }
}
/*main-slider*/
.main-slider{
  height: 560px;
  position: relative;
  @media( min-width: 320px) and (max-width: 1023px){
    height: 360px;
  }
  .buttons-wrap{
    position: absolute;
    width: 100%;
    top: 50%;
    @media( min-width: 320px) and (max-width: 1023px){
      display: none;
    }
    .swiper-button-next, .swiper-button-prev{
      color: #ffffff;
    }
  }
}
.main-cont{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before{
  position: absolute;
    content: '';
    background-color: #111111;
    opacity: 0.5;
    width: 100%;
    top: 0;
    height: 560px;
  }
  &__img{
    width: 100%;
    height: 560px;
    @media( min-width: 320px) and (max-width: 1023px){
      height: 360px;
      object-fit: cover;
    }
  }
  .main-item{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    &__title{
      font-weight: 700;
      font-size: 48px;
      color: #ffffff;
      line-height: 50px;
      text-transform: uppercase;
      margin-bottom: 2rem;
      text-align: center;
      @media( min-width: 1024px) and (max-width: 1200px){
        font-size:  38px;
        line-height: 35px;
      }
      @media( min-width: 320px) and (max-width: 1023px){
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 1rem;
      }
      &--little{
        font-size: 38px;
        @media( min-width: 320px) and (max-width: 1023px){
          font-size: 14px;

        }
      }
    }
  }
}
.price-link{
  background: #76c128;

  text-transform: uppercase;
  padding: 10px 20px;

  position: relative;
  z-index: 2;
  &--color{
    background-color: #ffffff;
    margin: 0 auto;
    .price-link__text{
      color: #76c128;
    }
  }
  &__text{
    position: relative;
    z-index: 2;
    font-size: 14px;
    color: #fff;
    transition: all 0.5s;
  }
  &__bg{
    width: 0%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-color: #3e3e3e;
    left: 0;
    bottom: 0;
    transition: width 0.5s;
  }
}
.price-link:hover > .price-link__bg{
  width: 100%;
  transition: width 0.5s;

}
.price-link:hover > .price-link__text{
  color:  #76c128;
  transition: all 0.5s;
}
/*price-section*/
.price-container {
  width: 100%;
  background-color: #76C128;
  padding: 1rem 0;
}

.price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media( min-width: 320px) and (max-width: 992px){
    flex-direction: column;
    align-items: flex-start;
  }
}

.price-block {
  &__title {
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    @media( min-width: 320px) and (max-width: 1023px){
      font-size: 20px;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    @media( min-width: 320px) and (max-width: 1023px){
      font-size: 16px;
      margin-bottom: 1rem;
    }
  }

}

.price-link {

}

/*about-section*/
.about-container {

}

.about-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 2rem 0;
  @media( min-width: 320px) and (max-width: 992px){
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}

.about-block {
  &__title {
    font-size: 36px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 1rem;

  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #636363;
    max-width: 600px;
    margin-bottom: 1rem;
    @media( min-width: 320px) and (max-width: 992px){
    max-width: 100% ;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
  @media( min-width: 320px) and (max-width: 992px){
 grid-template-columns:  1fr;
 justify-items: center;
    grid-gap: 30px;

  }
}

.about-item {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__number {
    font-size: 50px;
    font-weight: 500;
    color: #76c128;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #4c4c4c;
  }

}

.about-box {
  height: 100%;


}

.about-cont {
  background-image: url("../img/backgrounds/about-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 240px;
  margin-left: auto;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  @media( min-width: 320px) and (max-width: 992px){
    margin: 0 auto;
    width: 100%;
    height: 360px;
    background-position: center;
    background-size: auto;
  }
  &__text {
    font-size: 20px;
    font-weight: 500;
    color: #76c128;
  }
}

.about-row {
  &__number {
    font-size: 120px;
    font-weight: 500;
    color: #76c128;
    line-height: 0.5;
  }

  &__text {
    font-size: 40px;
    font-weight: 500;
    color: #76c128;
  }
}

/*catalog-section*/
.catalog-container {
  padding: 2rem 0;
  width: 100%;
  background-color: #F7F7F7;

}

.catalog-wrapper {

}

.catalog-grid {
 display: grid;
  grid-template-columns: repeat(auto-fit, minmax( 320px, 1fr));
  grid-gap: 30px;
}

.catalog-block {
  &__text {
    line-height: 22px;
    font-size: 16px;


  }

  &__link {
    color:#76c128;
    &:hover{
      color:#76c128;
      text-decoration: underline;
    }
  }
}
.catalog-item{
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));

}
.item-wrapper{
  position: relative;
  z-index: 1;
  max-height: 370px;

  &__text{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: red;
    text-align: center;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #ffffff;
    &:before{
      width: 100%;
      height: 80px;
      position: absolute;
      opacity: 0.8;
      content: '';
      left: 0;
      bottom: 0;
      z-index: -1;
      background: #428200;
    }
  }

}
.img-wrap{
  display: flex;
  position: absolute;
  width: 100%;
  left: 0;
  height: 80px;
  bottom: 0;
  align-items: center;
  justify-content: center;
  z-index: 3;
  padding: 10px;
}
.item-img{
  overflow: hidden;
  height: 360px;
  &__img{
    width: 100%;
    transition-duration: 0.5s;
  }
}
.item-img:hover > .item-img__img{
  transform: scale(1.2);
  transition-duration: 0.5s;
}
/*team-section*/
.team-container{

}
.team-wrapper{
  padding: 2rem 0;

}
.team-wrap{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 50px;
  @media( min-width: 320px) and (max-width: 992px){
    grid-template-columns:  1fr;
    grid-gap: 30px;
  }
}
.team-img{
  &__img{
    width: 100%;
   box-shadow:(0px 0px 8px rgba(0, 0, 0, 0.25));
    cursor: pointer;
  }
}
.team-grid{

}
.team-item{
  margin-bottom: 1.5rem;
  &:last-child{
    margin-bottom: 0;
  }
  &__text{
    color: #636363;
    font-size: 14px;
    line-height: 20px;
  }


}
.team-heading{
  display: flex;
  align-items: center;
  margin-bottom: 10px;


}
.heading-block{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-radius: 50%;
  height: 50px;
  margin-right: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &__title{
    color: #000000;
    font-weight: 500;
    font-size: 18px;
  }
  &__img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
/*reviews-section*/
.reviews-container{
  background-image: url("../img/backgrounds/reviews-bg.jpg");
  width: 100%;
  height: 760px;
  background-size: cover;
  @media( min-width: 320px) and (max-width: 992px){
    height: 560px;
  }
}
.reviews-wrapper{
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
.reviews-slider{
  .pagination-wrap{
    .swiper-pagination-bullet{
      background-color: transparent;
      border: 1px solid #ffffff;
    }
    .swiper-pagination-bullet-active{
      background: #76c128;
      border: 1px solid transparent;
    }

  }
  .buttons-wrap{
    position: absolute;
    width: 100%;
    top: 50%;
    @media( min-width: 320px) and (max-width: 1200px){
      display: none;
    }
    .swiper-button-prev{
      left: -55px;
    }
    .swiper-button-next{
      right: -25px;
    }
    .swiper-button-next, .swiper-button-prev{
      color: #FFFFFF;
    }
    .swiper-button-next:after, .swiper-button-prev:after{
      font-size: 60px;
    }
  }
}
.reviewsSlider{
  padding: 40px 0;
  position: relative;
}
.reviews-block{
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  &__img{
    width: 100%;
    margin-bottom: 1rem;
  }
  &__link{
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    position: relative;
    &:hover{
      color: #76c128;
    }
    &::after{
      position: absolute;
      content: '”';
      right: 0;
      line-height: 0.6;
      font-size: 100px;
      font-weight: 700;
      color: #76c128;
      top: 0;
    }
  }
}
/*news-section*/
.news-container{
  padding: 2rem 0;

}
.news-overlay{
  overflow: hidden;
  height: 260px;
  display: flex;
  @media( min-width: 320px) and (max-width: 992px){
    height: auto;
  }
}
.news-overlay:hover .news-img{
  transform: scale(1.2);
}
.news-wrapper{
  display: flex;
  flex-direction: column;

}
.news-grid{
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 1rem 0;

}
.news-item{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &__title{
    font-size: 18px;
    color: #000000;
    font-weight: 500;

  }
  &__time{
    font-size: 14px;
    font-weight: 400;
    color: #76c128;
    margin-bottom: 0.5rem;
  }
}
.news-img{
  width: 100%;
  margin-bottom: 1rem;
  height: fit-content;
  object-fit: cover;
  display: flex;
  align-self: center;
  transition-duration: 0.5s;
}
/*partners-section*/
.partners-container{
  padding: 2rem 0;
}
.partners-wrapper{

}
.partners-slider{
 max-height: 300px;
  position: relative;
  .pagination-wrap{
    .swiper-pagination-bullet-active{
      background: #76c128;
    }

  }
  .buttons-wrap{
    position: absolute;
    width: 100%;
    top: 50%;
    @media( min-width: 320px) and (max-width: 992px){
     display: none;
    }
    .swiper-button-prev{
      left: -45px;
    }
    .swiper-button-next{
      right: -45px;
    }
    .swiper-button-next, .swiper-button-prev{
      color: #76c128;
    }
  }
}
.partnersSlider{
  padding: 40px 0;
  position: relative;
  @media( min-width: 320px) and (max-width: 992px){
    padding: 20px 0 40px;
  }
}
.partners-wrap{
  display: flex;
}
.partners-block{
  width: 100%;
  height: 100%;
  display: block;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  &__img{
    width: 100%;
    padding: 10px;
  }
}
